<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Duncan A. Clark",
  "givenName": "Duncan",
  "familyName": "Clark",
  "honorificSuffix": "PhD",
  "jobTitle": "Assistant Professor of Statistics",
  "email": "dac6@williams.edu",
  "worksFor": {
    "@type": "Organization",
    "name": "Williams College",
    "url": "https://www.williams.edu"
  },
  "alumniOf": {
    "@type": "CollegeOrUniversity",
    "name": "University of California, Los Angeles"
  },
  "url": "https://duncan-clark.github.io",
  "knowsAbout": [
    "Social network analysis",
    "Social contagion",
    "Causal inference",
    "Spatial point processes",
    "Spatiotemporal point processes",
    "Exponential-family random network models",
    "Bayesian statistics"
  ],
  "sameAs": [
    "https://duncan-clark.github.io",
    "https://math.williams.edu/profile/dac6/",
    "https://scholar.google.com/citations?user=DBB2rEAAAAAJ&hl=en",
    "https://orcid.org/0000-0001-7243-3946",
    "https://github.com/duncan-clark",
    "https://www.linkedin.com/in/duncan-clark-886652a9"
  ]
}
</script>
